{
  "parser": "babel-eslint",
  "plugins": ["prettier"],
  "globals": {
    "asyncTest": true,
    "expect": true,
    "QUnit": true,
    "equal": true,
    "start": true,
    "test": true
  },
  "rules": {
    "prettier/prettier": "error"
  }
}
